﻿.imglogo {
    height: 50px;
    width: 150px;
    margin-right: 70px;
    margin-left: 20px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.row.content {
    height: auto;
    max-height: auto;
}

footer {
    background-color: rgba(0, 128, 255, 0.712);
    color: white;
    padding: 15px;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}
