﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Scripts/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-4.3.1-dist/js/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <style>
        .active {
            color: red;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <img src="../../Content/images/logo.png" alt="ELearning" style="height: 45px; width: 150px; margin-right: 45px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav nav-pills mr-auto">
                <li class="nav-link">
                    <span class="nav-link" id="Profile">@Html.ActionLink("Profile", "Profile", new { id = ViewBag.id })</span>
                </li>

                <li class="nav-link">
                    <span class="nav-link" id="All_courses">@Html.ActionLink("All Courses", "All_courses", new { id = ViewBag.id })</span>
                </li>

                <li class="nav-link">
                    <span class="nav-link" id="My_courses">@Html.ActionLink("My Courses", "My_course", new { id = ViewBag.id })</span>
                </li>

                <li class="nav-link">
                    <span class="nav-link" id="Forum">@Html.ActionLink("Forum", "Forum", new { id = ViewBag.id })</span>
                </li>

                <li class="nav-link">
                    <span class="nav-link" href="#"> @Html.ActionLink("Logout", "Logout", "Students")</span>
                </li>
            </ul>

            <form class="form-inline mt-2 mt-md-0">
                <input id ="searchvalue" class="form-control mr-sm-2" type="text" placeholder="Search Courses" aria-label="Search by name, level or desc" required/>
                <button class="btn btn-outline-primary my-2 my-sm-0" onclick="research()">Search</button>
            </form>

        </div>
    </nav>

    <div class="container">
        <br><br>
        @RenderBody()
    </div>


</body>
</html>

<script>
    var title = document.title;
    document.getElementById(title).classList.add("active");
    document.getElementById(title).style.color = "lightblue";

    function research() {
        event.preventDefault();
        var courseid = document.getElementById("searchvalue").value;

        if (!courseid) {
            alert("Research field is empty");
        }
        else {
            window.location.href = '@Html.Raw(@Url.Action("Research", "Students"))' + '?id=' + courseid;
        }
        
    }
</script>