﻿@model IQueryable<ProjetELearning.Models.myforum>

@{
    ViewBag.Title = "Forum";
    Layout = "~/Views/Shared/_ViewStudents.cshtml";
}
<script src="~/Scripts/bootstrap.bundle.min.js"></script>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <br><br><h4>Leave a Message:</h4>

            <form method="post">
                <div class="form-group">
                    <textarea name ="message" class="form-control" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
            <br><br>

            <script>var numMessage = 0;</script>
            @foreach (var forum in Model)
            {
                <script>numMessage += 1;</script>
            }

            <p><span class="badge">
            <script>document.write(numMessage)</script></span> Comments:</p><br>

            <div class="row">

                @foreach (var forum in Model)
                {
                    <div class="col-sm-2 text-center">
                        <img src="~/Content/images/@Html.DisplayFor(model => forum.picture)" class="rounded-circle float-left" height="65" width="65" alt="Avatar" />
                    </div>

                    <div class="col-sm-10">
                        <h4>@Html.DisplayFor(model => forum.name)   <small>@Html.DisplayFor(model => forum.date)</small></h4>
                        <p>@Html.DisplayFor(model => forum.message)</p>
                        <br>
                    </div>
                }
            </div>
        </div>
    </div>
</div>