﻿@model IEnumerable<ProjetELearning.course>

@{
    ViewBag.Title = "My_courses";
    Layout = "~/Views/Shared/_ViewStudents.cshtml";
}

<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<div class="container">
    
    <div class="row">

        <div class="col-lg-15">
            <br><br><h1><center><u>My Courses</u></center></h1><br>
            <div class="row">

                @foreach (var thecourse in Model)
                {
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card h-100">
                            <img class="card-img-top h-30" src="~/Content/images/courseimg/@Html.DisplayFor(model => thecourse.image)" alt="@Html.DisplayFor(model => thecourse.nom)">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">@Html.DisplayFor(model => thecourse.nom)</a>
                                </h4>
                                <h6>@Html.DisplayFor(model => thecourse.level)</h6>
                                <p class="card-text">@Html.DisplayFor(model => thecourse.desc)</p>
                            </div>
                            <div class="card-footer">
                                <button onclick="location.href='@Url.Action("SelectedCourse", "Students", new { id = @Html.DisplayFor(model => thecourse.Id) })'">View</button>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

    </div>
</div>

<script>
    
</script>
