﻿
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_ViewStudents.cshtml";
}

<link href="~/Content/stylemodal.css" rel="stylesheet" />

<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<link href="~/Content/Profile.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-1 col-md-6 col-lg-12">
            <div class="card">
                <img class="card-img-top" src="~/Content/images/defaultcover.jpg" alt="Bologna" style="height: 250px;">
                <div class="card-body text-center">
                    <img class="avatar rounded-circle" src="~/Content/images/defaultpp.png" alt="Bologna">
                    <u><h1 class="card-title">@ViewBag.Name</h1></u><br>
                    <h4 class="card-title">@ViewBag.email</h4>
                    <h4 class="card-title">@ViewBag.tel</h4>
                    <h6 class="card-subtitle mb-2 text-muted">@ViewBag.grade</h6>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">Change your account information </h5>
            </div>
             
            <form method="post" id="changeform">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email1">User Name</label>
                        <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="Enter Name" required>
                    </div>
                    <div class="form-group">
                        <label for="password1">Password</label>
                        <input type="password" class="form-control" name="password" id="pwd1" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <label for="password1">Confirm Password</label>
                        <input type="password" class="form-control" name="password2" id="pwd2" placeholder="Confirm Password" required>
                        <span class="cd-error-message">Password not identical!</span>
                    </div>
                </div>
                <div class="modal-footer border-top-0 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success" id="btn">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var $firstconn = @ViewBag.firstconn,
            $btn = $('#btn');

        if ($firstconn == 0) {
            $('#form').modal('show');
        }

        $btn.on('click', function (event) { 
            var $myform = $('#changeform'),
                $pwd1 = $("#pwd1"),
                $pwd2 = $("#pwd2");

            if ($pwd1.val() != $pwd2.val()) {
                alert("Passwords not identical");
                event.preventDefault();
            }
            else {}
        });
    });
</script>