﻿@model IQueryable<ProjetELearning.course>
@{
    ViewBag.Title = "All_courses";
    Layout = "~/Views/Shared/_ViewStudents.cshtml";
}

<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<div class="container">

    <div class="row">

        <div class="col-lg-15">
            <br><br><h1><center><u>Found courses for research</u></center></h1><br>
            <div class="row">

                @{ var nb = 0;}
                @foreach (var thecourse in Model)
                {
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card h-100">
                            <img class="card-img-top h-30" src="~/Content/images/courseimg/@Html.DisplayFor(model => thecourse.image)" alt="@Html.DisplayFor(model => thecourse.nom)">

                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">@Html.DisplayFor(model => thecourse.nom)</a>
                                </h4>
                                <h6>@Html.DisplayFor(model => thecourse.level)</h6>
                                <p class="card-text">@Html.DisplayFor(model => thecourse.desc)</p>
                            </div>

                            <div class="card-footer">
                                @{int available = 0;}
                                @foreach (var mycourses in ViewBag.courselist)
                                {
                                    if (mycourses == thecourse.Id)
                                    {
                                        available = 1;
                                    }
                                }

                                <button onclick="check('@ViewBag.level', '@Html.DisplayFor(model => thecourse.level)', @available, @Html.DisplayFor(model => thecourse.Id))">Subscribe</button>
                            </div>
                        </div>
                    </div>
                    nb++;
                }

                @if (nb == 0)
                {
                    <font color="blue"><h3><center>We are unable to find a course for your research</center></h3></font>
                }

            </div>
        </div>
    </div>
</div>

<script>
    function check(studentLevel, courseLevel, available, courseid) {
        if (studentLevel != courseLevel) {
            alert("This course is not of your level");
        }
        else if (available == 1) {
            alert("You are already subscribed to this course");
        }
        else {
            alert("You have succesfully been added to this course!");
            window.location.href = '@Html.Raw(@Url.Action("Subscription", "Students"))' + '?id=' + courseid;
        }
    }
</script>


