﻿@model IEnumerable<ProjetELearning.course>
@{
    ViewBag.Title = "My_courses";
    Layout = "~/Views/Shared/_ViewStudents.cshtml";
}

<script src="~/Scripts/bootstrap.bundle.min.js"></script>

<div class="container">
    <br><br>
    @foreach (var thecourse in Model)
    {
        <h1><u>@Html.DisplayFor(model => thecourse.nom)</u></h1><br>

        <div class="embed-responsive embed-responsive-4by3" style="height: 400px">
            <iframe class="embed-responsive-item" src="@Html.DisplayFor(model => thecourse.video)" allowfullscreen></iframe>
        </div><br>

        <h2>Desc</h2>
        @Html.DisplayFor(model => thecourse.desc)<br><br>

        <h2>Notes</h2>
        @Html.DisplayFor(model => thecourse.notes)<br><br>

        <h2>Exercises</h2>
        @Html.DisplayFor(model => thecourse.exo)<br><br>

        <h2>Solutions</h2>
        @Html.DisplayFor(model => thecourse.solution)<br><br>
    }
</div>
