﻿@model ProjetELearning.student

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Elearning</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../Content/stylehome.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src ="../../Scripts/scripthome.js"></script>

  <style> 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: rgba(0, 128, 255, 0.712); 
    }
  </style>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid" style="border-bottom: 1px solid; box-shadow: 0px 4px #DCDCDC;">

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <img class="logo" src="../../Content/images/logo.png"></img>
                </ul>

                <nav class="main-nav">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="cd-signin" href="#0"><button class="btnlog">Sign in</button></a></li>
                        <li><a class="cd-signup" href="#0"><button class="btnsign">Register</button></a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </nav>

    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">

                <div class="item active">
                    <img src="../../Content/images/tof1.jpg" alt="Los Angeles" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Los Angeles</h3>
                        <p>LA is always so much fun!</p>
                    </div>
                </div>

                <div class="item">
                    <img src="../../Content/images/tof2.jpg" alt="Chicago" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Chicago</h3>
                        <p>Thank you, Chicago!</p>
                    </div>
                </div>

                <div class="item">
                    <img src="../../Content/images/tof3.jpg" alt="New York" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>New York</h3>
                        <p>We love the Big Apple!</p>
                    </div>
                </div>

            </div>

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div><br>

        <div class="mycards">
            <div class="card">
                <div style="height: 230px;">
                    <img src="../../Content/images/math.jpg" alt="" class="myimg">
                </div>
                <div style="height: 200px;">
                    <p><h3 style="margin: 20px;"><center><u>Basic Maths</u></center></h3></p>
                    <p style="margin: 10px;">lets just try something in this to see how its gonna be positioned and also to try and see the layout without catching anything</p>
                </div>
            </div>

            <div class="card">
                <div style="height: 230px;">
                    <img src="../../Content/images/asp.png" alt="">
                </div>
                <div style="height: 200px;">
                    <p><h3 style="margin: 20px;"><center><u>Asp.net</u></center></h3></p>
                    <p style="margin: 10px;">lets just try something in this to see how its gonna be positioned and also to try and see the layout without catching anything</p>
                </div>
            </div>

            <div class="card">
                <div style="height: 230px;">
                    <img src="../../Content/images/js.png" alt="">
                </div>
                <div style="height: 200px;">
                    <p><h3 style="margin: 20px;"><center><u>Java Script</u></center></h3></p>
                    <p style="margin: 10px;">lets just try something in this to see how its gonna be positioned and also to try and see the layout without catching anything</p>
                </div>
            </div>
        </div>
    </div><br />

    <footer class="container-fluid text-center">
        <p>Curtis Moxebo</p>
    </footer>

    <div class="cd-user-modal">
        <div class="cd-user-modal-container">
            <ul class="cd-switcher">
                <li><a href="#0">Sign in</a></li>
                <li><a href="#0">New account</a></li>
            </ul>

            <div id="cd-login">
                <form class="cd-form" method="post">
                    <p class="fieldset">
                        <label class="image-replace cd-email" for="signin-email">User Name</label>
                        <input name="name" class="full-width has-padding has-border" id="signin-email" type="text" placeholder="User Name">
                        <span class="cd-error-message">Name not valid!</span>
                    </p>

                    <p class="fieldset">
                        <label class="image-replace cd-password" for="signin-password">Password</label>
                        <input type="password" name="password" class="full-width has-padding has-border" id="signin-password" type="text" placeholder="Password">
                        <span class="cd-error-message">Password not valid!</span>
                        <a href="#0" class="hide-password">Show</a>
                    </p>

                    <p class="fieldset">
                        <select name="grade" id="position">
                            <option value="Select your position">Select your position</option>
                            <option value="Student">Student</option>
                            <option value="Teacher">Teacher</option>
                        </select>
                        <span class="cd-error-message">Chose a valid position!</span>
                    </p>

                    <p class="fieldset">
                        <input class="full-width" type="submit" value="Login" onclick="@ViewBag.oper = 'login'">
                    </p>
                </form>
            </div>

            <div id="cd-signup">
                <form class="cd-form" method="post">
                    <p class="fieldset">
                        <label class="image-replace cd-username" for="signup-username">Telephone</label>
                        <input name="tel" class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Telephone">
                        <span class="cd-error-message">Phone number not valid!</span>
                    </p>

                    <p class="fieldset">
                        <label class="image-replace cd-email" for="signup-email">E-mail</label>
                        <input input name="email" class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
                        <span class="cd-error-message">Email not valid!</span>
                    </p>

                    <p class="fieldset">
                        <select name="grade" id="grade">
                            <option value="Select your level of study">Select your level of study</option>
                            <option value="Primary">Primary</option>
                            <option value="Secondary">Secondary</option>
                            <option value="College">College</option>
                        </select>
                        <span class="cd-error-message">Chose a valid grade!</span>
                    </p>

                    <p class="fieldset">
                        <input class="full-width has-padding" type="submit" value="Create account" onclick="@ViewBag.oper = 'register'">
                    </p>
                </form>
            </div>
        </div>
    </div>

</body>
</html>

    
